name: "Firewalla"
description: "A Home Assistant Add-on to fetch Firewalla network devices data"
url: "https://github.com/matthewhadley/homeassistant-firewalla"
version: 2.1.1
slug: firewalla
init: false
stdin: true
hassio_api: true
homeassistant_api: true
host_network: true
options:
  firewalla_ip: null
  public_key_string: null
  private_key_string: null
  interval: 60
  debug: true
schema:
  firewalla_ip: str
  public_key_string: str
  private_key_string: str
  ha_token: str
  interval: int(1,3600)?
  debug: bool
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
image: "matthewhadley/homeassistant-firewalla-addon-{arch}"
